# Python virtual environments
.venv/
venv/
env/
bin/
include/
lib/
pyvenv.cfg

# Bytecode / caches
__pycache__/
*.py[cod]
*.pyo
*.pyd

# OS / editor files
.DS_Store
.idea/
.vscode/

# Build / packaging
build/
dist/
*.egg-info/
